ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
ROPSTEN_URL=https://eth-ropsten.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
DEPLOYER_PRIVATE_KEY=6ac2df5bb7fd9dcff6d6965d5596f14c31750f5cb24981693761e6b4c7385d06
INFURA_API_KEY=nfewjfjenjeeinfgg
